@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

.d-none {
    display: none;
}

html {
    font-size: 16px;
}

body {
    font-family: Roboto;
    font-size: 1rem;
    display: flex;
    justify-content: center;
}

body>* {
    width: 100%;
}

/*==========
| TOP CARD |
==========*/

.jumbotron {
    background-color: #DEDEDE;
    padding: 1.5rem;
    border-radius: 0.3rem;
    margin: 0;
    margin-bottom: 1rem;
}

.text-center {
    text-align: center;
}

/*======
| FORM |
======*/

form {
    border: 2px solid lightgray;
    border-radius: 0.3rem;
    padding: 1rem;
    box-shadow: 1rem 1rem 20px 2px rgb(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}

#div-in-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#div-in-form>div {
    margin-top: 1rem;
}

.col {
    width: 100%;
}

#div-with-a {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
}

form input[type="text"],
form input[type="color"] {
    width: 100%;
    border: 2px solid lightgray;
    border-radius: 0.3rem;
    padding: 0.5rem;
    font-size: inherit;
}

form input[type="color"] {
    background-color: white;
    height: 2.7rem;
}

form input[type="text"]:focus {
    box-shadow: 0 0 2px 2px dodgerblue;
    outline: none;
}

form #newGame {
    background-color: dodgerblue;
    padding: 0.5rem;
    color: white;
    font-weight: bold;
    border: 2px solid dodgerblue;
    border-radius: 0.5rem;
    text-decoration: none;
}

/*=======
| TABLE |
=======*/

table {
    margin: auto;
    border-spacing: 0;
    border-collapse: collapse;
}

td {
    width: 125px;
    height: 125px;
    font-size: 50px;
    border: 1px solid darkgray;
    text-align: center;
}

img {
    width: 100%;
}

/*================
| RESPONSIVENESS |
================*/

@media screen and (max-width: 414px) {
    aside {
        display: none;
    }
}

@media screen and (min-width: 415px) and (max-width: 1181px) {
    html {
        font-size: 18px;
    }

    main {
        width: 50%;
    }

    aside {
        width: 30%;
    }

    /* Samma som för liten skärm. Varför äns sätta? */
    td {
        width: 125px;
        height: 125px;
    }
}

@media screen and (min-width: 1182px) {
    html {
        font-size: 22px;
    }

    main {
        width: 70%;
    }

    aside {
        width: 300px;
    }

    #newGame:hover {
        border: 2px solid dodgerblue;
        color: dodgerblue;
        background-color: white;
    }

    td {
        width: 200px;
        height: 200px;
    }

    .col {
        width: 49%;
    }
}